@model AniWeb_Comics.Models.Contacto

@{
    ViewData["Title"] = "Contacto";
}


<h1>¿Tienes problemas con tu envío?</h1>
	<p>Completa el siguiente formulario de contacto y nuestro equipo de soporte se pondrá en contacto contigo lo antes posible para ayudarte a resolver cualquier problema que puedas estar experimentando.</p>
<div class="container">
    
    <h1 class="text-center mb-4">Formulario de contacto</h1>
    <div class="row justify-content-center">
        <div class="col-md-6">
            <form asp-controller="Contacto" asp-action="Create" method="post">
                <div class="form-group">
                    <label asp-for="Nombre" class="control-label"></label>
                    <input asp-for="Nombre" class="form-control" />
                </div>
                <div class="form-group">
                    <label asp-for="CorreoElectronico" class="control-label"></label>
                    <input asp-for="CorreoElectronico" class="form-control" />
                </div>
                <div class="form-group text-center">
                    <button type="submit" class="btn btn-primary">Enviar</button>
                </div>
            </form>
             <h1>@ViewData["Message"]</h1>
    <div>
        <a asp-action="Index">Back to List</a>
    </div>
        </div>
    </div>
</div>
<section>
  <h2>También nos puedes encontrar en:</h2>
  
  <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d30377.337938966804!2d-3.7037907453839297!3d40.416775985119856!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0xd42286a785854cb%3A0xdeb1bfe2d9b3c817!2sMadrid%2C%20Spain!5e0!3m2!1sen!2sus!4v1653809477884!5m2!1sen!2sus" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy"></iframe>
</section>

