@{
    ViewData["Title"] = "¿Quienes Somos?";
}

<link rel="shortcut icon" href="https://cdn.discordapp.com/attachments/1101400363459944491/1103101527947759676/ico.png">

<h2>@ViewData["Title"]</h2>

<div style="display: flex; flex-wrap: wrap; width: 100%;">
  <div style="width: 33.33%;">
    <img src="/image/rem.jpg" style="width: 100%; height: auto;" alt="">
    <div style="background-color: #f2f2f2; padding: 10px;">
      <p>¿Quiénes somos?</p>
        <p>Somos una organizacion dedicada a la exportación, venta y entrega de mangas y comics. Asegurando un producto de calidad original.
      </p>
    </div>
  </div>
  <div style="width: 33.33%;">
    <img src="/image/aqua.jpg" style="width: 100%; height: auto;" alt="">
    <div style="background-color: #f2f2f2; padding: 10px;">
      <p>Misión</p>
        <p>Proporcionar un producto de calidad a los clientes con el fin de satisfacer su compra y gusto por el manga y comic.
      </p>
    </div>
  </div>
  <div style="width: 33.33%;">
    <img src="/image/miku.jpg" style="width: 100%; height: auto;" alt="">
    <div style="background-color: #f2f2f2; padding: 10px;">
      <p>Visión</p>
        <p>Ser la organización con mayor demanda en ventas de productos exportados de manga y comic a nivel mundial
      </p>
    </div>
  </div>
</div>