.welcome-section {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 50px 0;
}

.welcome-text {
  flex-basis: 60%;
}

.logo {
  flex-basis: 30%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.logo img {
  width: 100%;
  max-width: 200px;
}

@media screen and (max-width: 768px) {
  .welcome-section {
    flex-direction: column;
  }
  
  .welcome-text, .logo {
    flex-basis: 100%;
    text-align: center;
  }
}


h1 {
  font-size: 36px;
  margin-bottom: 30px;
  text-align: center;
}

.gif {
  width: 50%;
  margin-right: 20px;
}

.carousel {
  max-width: 710px;
  
  margin: 0 auto;
}


.carousel-inner img {
  max-width: 100%;
  max-height: 400px;
  object-fit: cover;
}

